# Dépendances
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
build/
dist/

# Tests
coverage/

# Env
.env
.env.local
.env.production.local
.env.development.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
*.pem
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Prisma
prisma/*.db
prisma/*.db-journal
prisma/migrations/dev.db

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo
next-env.d.ts

.vercel
